apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory-service
  namespace: storage-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: inventory-service
  template:
    metadata:
      labels:
        app: inventory-service
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: "/actuator/prometheus"
        prometheus.io/port: "8080"
    spec:
      containers:
        - name: inventory-service
          image: ghcr.io/robinb00/inventory-service
          ports:
            - containerPort: 8080
env:
  # Matches the 'username' in your application.yaml
  - name: SPRING_DATASOURCE_USERNAME
    value: "inventory_user"
  # Pulls the password securely from the Secret we created
  - name: SPRING_DATASOURCE_PASSWORD
    valueFrom:
      secretKeyRef:
        name: mariadb-secret
        key: mariadb-password