apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory-service
  namespace: storage-system
spec:
  replicas: 2
  selector:
    matchLabels:
      app: inventory-service
  template:
    metadata:
      labels:
        app: inventory-service
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: "/actuator/prometheus"
        prometheus.io/port: "8080"
    spec:
      containers:
        - name: inventory-service
          image: ghcr.io/robinb00/inventory-service
          ports:
            - containerPort: 8080
          env:
            - name: SPRING_DATASOURCE_USERNAME
              value: "inventory_user"
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: inventorydb-secret
                  key: inventorydb-password
            - name: SPRING_DATASOURCE_URL
              value: "jdbc:mariadb://mariadb:3306/inventory_db"