apiVersion: v1
kind: Secret
metadata:
  name: mariadb-secret
  namespace: storage-system
type: Opaque
stringData:
  mariadb-root-password: "root-password"
  mariadb-password: "inventory-password"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mariadb-pvc
  namespace: storage-system
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: standard
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mariadb
  namespace: storage-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mariadb
  template:
    metadata:
      labels:
        app: mariadb
    spec:
      containers:
        - name: mariadb
          image: mariadb:10.11
          env:
            - name: MARIADB_ROOT_PASSWORD
              valueFrom: { secretKeyRef: { name: mariadb-secret, key: mariadb-root-password } }
            - name: MARIADB_DATABASE
              value: inventory_db
            - name: MARIADB_USER
              value: inventory_user
            - name: MARIADB_PASSWORD
              valueFrom: { secretKeyRef: { name: mariadb-secret, key: mariadb-password } }
          ports:
            - containerPort: 3306
          volumeMounts:
            - name: db-storage
              mountPath: /var/lib/mysql
      volumes:
        - name: db-storage
          persistentVolumeClaim:
            claimName: mariadb-pvc

---
apiVersion: v1
kind: Service
metadata:
  name: mariadb
  namespace: storage-system
spec:
  selector:
    app: mariadb
  ports:
    - port: 3306