version: '3.9'

networks:
  microservices-network:
    driver: bridge

services:
  api-gateway:
    build:
      context: .
      dockerfile: api-gateway/Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - master-data-service
      - order-service
      - inventory-service
    networks:
      - microservices-network
    environment:
      MASTER_DATA_SERVICE_URL: "http://master-data-service:8080"
      ORDER_SERVICE_URL: "http://order-service:8080"
      INVENTORY_SERVICE_URL: "http://inventory-service:8080"

  master-data-service:
    build:
      context: .
      dockerfile: master-data-service/Dockerfile
    ports:
      - "8081:8080"
    networks:
      - microservices-network

  order-service:
    build:
      context: .
      dockerfile: order-service/Dockerfile
    ports:
      - "8082:8080"
    networks:
      - microservices-network

  inventory-service:
    build:
      context: .
      dockerfile: inventory-service/Dockerfile
    ports:
      - "8083:8080"
    networks:
      - microservices-network
