networks:
  microservices-network:
    driver: bridge

services:
  # ---------- API Gateway ----------
  api-gateway:
    build:
      context: .
      dockerfile: api-gateway/Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - master-data-service
      - order-service
      - inventory-service
    networks:
      - microservices-network
    environment:
      MASTER_DATA_SERVICE_URL: "http://master-data-service:8080"
      ORDER_SERVICE_URL: "http://order-service:8080"
      INVENTORY_SERVICE_URL: "http://inventory-service:8080"

  # ---------- Master Data Service ----------
  master-data-service:
    build:
      context: .
      dockerfile: master-data-service/Dockerfile
    ports:
      - "8081:8080"
    networks:
      - microservices-network
    environment:
      MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE: "*"
      MANAGEMENT_ENDPOINT_WEB_EXPOSURE_INCLUDE: "*"

  # ---------- Order Service ----------
  order-service:
    build:
      context: .
      dockerfile: order-service/Dockerfile
    ports:
      - "8082:8080"
    networks:
      - microservices-network
    environment:
      MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE: "*"
      MANAGEMENT_ENDPOINT_WEB_EXPOSURE_INCLUDE: "*"

  # ---------- Inventory Service ----------
  inventory-service:
    build:
      context: .
      dockerfile: inventory-service/Dockerfile
    ports:
      - "8083:8080"
    networks:
      - microservices-network
    environment:
      MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE: "*"
      MANAGEMENT_ENDPOINT_WEB_EXPOSURE_INCLUDE: "*"

  # ---------- Prometheus ----------
  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    networks:
      - microservices-network
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro

  # ---------- Grafana ----------
  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    networks:
      - microservices-network
    depends_on:
      - prometheus
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
