server:
  port: 8080
  address: 0.0.0.0

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: master-data-service
          uri: http://master-data-service:8080
          predicates:
            - Path=/products/**

        - id: order-service
          uri: http://order-service:8080
          predicates:
            - Path=/orders/**

        - id: inventory-service
          uri: http://inventory-service:8080
          predicates:
            - Path=/inventory/**
management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
