apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: storage-system
  labels:
    app: master-data-service
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/path: "/actuator/prometheus"
    prometheus.io/port: "8080"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
        - name: order-service
          image: ghcr.io/robinb00/order-service
          ports:
            - containerPort: 8080
