server:
  port: 8080
  address: 0.0.0.0

spring:
  datasource:
    url: jdbc:h2:mem:orders
  jpa:
    hibernate:
      ddl-auto: update

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
