apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: storage-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: "/actuator/prometheus"
        prometheus.io/port: "8080"
    spec:
      containers:
        - name: api-gateway
          image: ghcr.io/robinb00/api-gateway
          ports:
            - containerPort: 8080
