server:
  port: 8080
  address: 0.0.0.0

spring:
  datasource:
    url: jdbc:h2:mem:masterdata
  jpa:
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus